{{define "content"}}
<div class="container">
  <div class="posts-list">
    {{range $index := 5}}
    <div class="post-item">
      <span class="post-rank">{{$index}}.</span>
      <div class="post-content">
        <div class="post-title">
          <a href="#" class="post-link" target="_blank">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
          <span class="post-domain">(example.com)</span>
        </div>
        <div class="post-meta">
          <span class="points">125 puntos</span> por
          <a href="#" class="author">usuario_demo</a>
          <span class="time">hace 3 horas</span> |
          <a href="#" class="comments-link">42 comentarios</a>
        </div>
      </div>
    </div>
    {{end}}
  </div>

  <div class="pagination">
    <a href="#" class="more-link">Prev</a>
    <a href="#" class="more-link">Next</a>
  </div>
</div>
{{end}}
